
/* html-wordpress - style.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Classi di default */
.fl_l {
  float: left;
}

.fl_r {
  float: right;
}

.cl_b {
  clear: both
}


.uppercased {
  text-transform: uppercase;
}

.bold {
  font-weight: bold
}

.fontSize1_5vW {
  font-size: 1.5vw;
}

.rightBordered {
  border-right: 1px solid black
}

/* Elementi */
#container {
  padding: 50px 0;
  width: 100vw;
  height:100vh;
  background: url('images/default-pattern.png')
}

#content {
  width: 85%;
  height: 700px;
  margin: 0 auto;
  background: yellow;
}

.picAndNav {
  width: 100%;
  height: 40%;
  background: blue

}

.picAndNav > img {
  width: 100%;
  margin: 0 auto;
}

.header-pic {
  position: relative;
  width: 100%;
  height: 80%;
  border: 10px solid white;
  /* background: green; */
  background: url('images/default-header.jpg');
  background-size: cover;
  background-position;
  background-repeat: no-repeat;
}

.logo {
  /* max per evitare deformazioni
  quando restringiamo la finestra */
  max-height: 80%;
  max-width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav {
  position: relative;
  width: 100%;
  height: 20%;
}
.links-container {
  width: 100%;
  margin: 0 auto;
  background:green;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.link {
  height: 100%;
  /* margin: 0 auto; */
  padding: 0 2%;
  display: inline-block;
  background: yellow;
}

.columns-container {
  width: 100%;
  height: 60%;
  background: red
}
